@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400italic|Open+Sans:400,700|Inconsolata);

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,main,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}

@-ms-viewport{
    width: device-width;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    color: #333333;
    line-height: 1.7;
    max-width: 1100px;
    margin: 0 auto;
}

body:before, body:after,
section:before, section:after {
    content: "";
    display: table;
}

body:after, section:after {
    clear:both;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.8rem;
}

h4, h5, h6 {
    font-weight: bold;
    font-size: 1.6rem;
}

a {
    color: #0C89CA;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}

a:hover, a:active {
  text-decoration: underline;
}

ul, ol {
    padding-left: 4rem;
}

li {
    padding-left: 0.5rem;
}

audio, canvas, img, video {
    vertical-align: middle;
    max-width: 100%;
}

table {
    width: 100%;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid black;
    margin:1em 0;
    padding:0;
}

ins, mark {
    background-color: #FF0;
}

ins { text-decoration: none; }
del { text-decoration: line-through; }

pre {
    white-space: pre-wrap;
}

code {
    display: inline;
}

code, kbd, pre, samp {
    font-family: Inconsolata, monospace;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor:help;
}

input, select {
    vertical-align: middle;
}

nav {
    padding: 0;
    margin: 0;
}

blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
     content: open-quote;
 }

blockquote:after {
     content: close-quote;
}

dt, dd {
    font-style: normal;
}

dt {
    font-weight: bold;
    float: left;
    width: 15rem;
}

dt:after {
    content: ":";
}

p, dl, ul, ol {
    margin: 1.5rem auto;
}

#main, #aside {
    float: left;
}

#aside {
    width: 33%;
    padding-right: 2rem;
}

#main {
    width: 67%;
}